.img--card{
  box-shadow:  0px 5px 10px 2px #888888;
  border-radius: 10px;
  width: 11rem;
  text-align: center;
  cursor: pointer;
  word-wrap: break-word;
  padding: 20px;
  font-size: .7rem;
  height: 90%;
}

.img--card>img{
  width: inherit;
  height: 200px;
  object-fit:cover;
}

.img--card >h3{
  font-size: 1rem;
  margin: 0;
}

.img--card>h4{
  margin: 10px;
}

@media (max-width:700px) {
  .img--card{
    box-shadow:  0px 5px 10px 2px #888888;
    border-radius: 10px;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    padding: 20px;
    height: 85%;

  }
  .img--card>h3{
    font-size: .8rem;
  }
.img--card>h4{
  font-size: .6rem;
}

  .img--card>img{
    width: 100px;
    height: 130px;
    object-fit:cover;
  }
}


@media (max-width:400px) {
  .img--card{
    box-shadow:  0px 5px 10px 2px #888888;
    border-radius: 10px;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    padding: 20px;
    height: 85%;

  }
  .img--card>h3{
    font-size: .6rem;
  }
.img--card>h4{
  font-size: .6rem;
}

  .img--card>img{
    width: 100px;
    height: 130px;
    object-fit:cover;
  }
}

