
nav{
    display: flex;
    align-items: center;
    background: black;
    height: 50px;
    padding: 40px 100px;

  }

  
nav>img{
    width: 100px;
    cursor: pointer;
  }
  
@media (max-width:700px) {
  nav>img{
    width: 70px;
    cursor: pointer;
  }
  nav{
    padding: 20px 40px;
  }
}